# host variables
SETTINGS=/path/to/store/nginx/settings
HTTP_PORT=80
HTTPS_PORT=443

# change it for different container name
CONTAINER_NAME=nginx
NETWORKING=host
RESTART_POLICY=always

# Makefile required
VOLUMES=-v $(SETTINGS):/etc/nginx
PORTS=\
  -p $(HTTP_PORT):$(HTTP_PORT) \
  -p $(HTTPS_PORT):$(HTTPS_PORT)
NETWORK=--net=$(NETWORKING)
RESTART=--restart=$(RESTART_POLICY)
